<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitcoin.tracker.walletx" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- ActiveAndroid database name, version, and models -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Walletx.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <!-- TODO: specify AA models -->

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/navigation_drawer_title_activity_main" >
        </activity>
        <activity
            android:name=".activity.walletx.create.WalletxCreateActivity"
            android:label="@string/walletx_create_title_activity" >
        </activity>
        <activity
            android:name=".activity.walletx.updateDelete.WalletxUpdateActivity"
            android:label="@string/walletx_update_title_activity" >
        </activity>
        <activity
            android:name=".activity.walletxSummary.WalletxSummaryAllActivity"
            android:label="@string/walletx_summary_all_title_activity" >
        </activity>
        <activity
            android:name=".activity.walletxSummary.WalletxSummaryGroupActivity"
            android:label="@string/walletx_summary_group_title_activity" >
        </activity>
        <activity
            android:name=".activity.walletxSummary.WalletxSummarySingleActivity"
            android:label="@string/walletx_summary_single_title_activity" >
        </activity>
        <activity
            android:name=".activity.walletGroup.create.WalletGroupCreateActivity"
            android:label="@string/wallet_group_create_title_activity" >
        </activity>
        <activity
            android:name=".activity.walletGroup.updateDelete.WalletGroupUpdateActivity"
            android:label="@string/wallet_group_update_title_activity" >
        </activity>
        <activity
            android:name=".activity.walletxTxs.TxsActivity"
            android:label="@string/title_activity_walletx_txs_title_activity" >
        </activity>
        <activity
            android:name=".activity.txDetail.TxDetailActivity"
            android:label="@string/title_activity_tx_detail" >
        </activity>
        <activity
            android:name=".activity.txCategories.TxCategoryCreateActivity"
            android:label="@string/title_activity_create_tx_category" >
        </activity>
        <activity
            android:name=".activity.txCategories.TxCategoryUpdateActivity"
            android:label="@string/title_activity_tx_category_update" >
        </activity>
    </application>

</manifest>
