<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitcoin.tracker.walletx" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- ActiveAndroid database name, version, and models -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Walletx.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <!-- TODO: specify AA models -->

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.navDrawer.MainActivity"
            android:label="@string/navigation_drawer_title_activity_main" >
        </activity>
        <activity
            android:name=".activity.walletx.WalletxCreateActivity"
            android:label="@string/walletx_create_activity_title_activity" >
        </activity>
        <activity
            android:name=".activity.walletx.WalletxUpdateActivity"
            android:label="@string/walletx_update_title_activity" >
        </activity>
        <activity
            android:name=".activity.summary.SummaryAllActivity"
            android:label="@string/walletx_summary_all_title_activity" >
        </activity>
        <activity
            android:name=".activity.summary.SummaryGroupActivity"
            android:label="@string/walletx_summary_group_title_activity" >
        </activity>
        <activity
            android:name=".activity.summary.SummarySingleActivity"
            android:label="@string/walletx_summary_single_title_activity" >
        </activity>
        <activity
            android:name=".activity.group.GroupCreateActivity"
            android:label="@string/group_create_activity_title_activity" >
        </activity>
        <activity
            android:name=".activity.group.GroupUpdateActivity"
            android:label="@string/group_update_activity_title_activity" >
        </activity>
        <activity
            android:name=".activity.tx.TxsActivity"
            android:label="@string/title_activity_walletx_txs_title_activity" >
        </activity>
        <activity
            android:name=".activity.tx.TxDetailActivity"
            android:label="@string/title_activity_tx_detail" >
        </activity>
        <activity
            android:name=".activity.category.CategoryCreateActivity"
            android:label="@string/category_create_activity_title" >
        </activity>
        <activity
            android:name=".activity.category.CategoryUpdateActivity"
            android:label="@string/category_update_activity_title" >
        </activity>
        <activity
            android:name=".activity.chart.ChartSpendingByCategoryActivity"
            android:label="@string/title_activity_graph_spending_by_category" >
        </activity>
        <activity
            android:name=".activity.SyncableActivity"
            android:label="@string/title_activity_syncable" >
        </activity>
    </application>

</manifest>
